<footer class="footer">
  <div class="row center-xs">
    <div class="col-lg-10 col-sm-10">
      <div class="row start-xs">
        <div class="col-xs">
          <h3 style="border-bottom: 2px solid white;display:inline-block;padding-right: 35px;">Label</h3>
          {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
          <a href="{{.Permalink}}" style="display:block;margin:6px 0px;font-size: 13px;"> - {{.Title}}</a>
          {{end}}
        </div>
        <div class="col-xs">
            <h3 style="border-bottom: 2px solid white;display:inline-block;padding-right: 35px;">Post Terbaru</h3>
            {{ $pages := (where (where .Site.Pages "Type" "post") "IsPage" true) }}
            {{ range first 5 $pages }}
            <a href="{{.Permalink}}"  style="display:block;margin:6px 0px;font-size: 13px;" > - {{.Title}}</a>
            {{end}}
        </div>
      </div>
    </div>
  </div>
  <center style="margin: 35px 0px;"><a href="/">&copy;dhamarhusa.in</a></center>
</footer>
