<div class="header" style="background-image: url(/img/header-bg.png);">
</div>
<div class="nav">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <ul>
                <li class="nav-item-home"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a href="/tentang" class="nav-link">Tentang</a></li>
                <li class="nav-item"><a href="/post/" class="nav-link">Postingan</a></li>
                <li class="nav-item"><a href="https://facebook.com/dhamar.husain" class="nav-link">Facebook</a></li>
                <li class="nav-item"><a href="https://twitter.com/dhamarhusainsm" class="nav-link">twitter</a></li>
            </ul>
        </div>
    </div>
</div>