{{ $pag := $.Paginator }}
<div class="row pagination">
    <div class="col">
        {{ if $pag.HasPrev }}
            <a href="{{ $pag.Prev.URL }}"><i class="fas fa-2x fa-angle-left"></i></a>
        {{ end }}
        <div style="clear: both;">&nbsp;</div>
    </div>
    <div class="col">
        {{ if $pag.HasNext }}
            <a style="display: block;float: right;" href="{{ $pag.Next.URL }}"><i class="fas fa-2x fa-angle-right"></i></a>
        {{ end }}
        <div style="clear: both;">&nbsp;</div>
    </div>
</div>