a{
    text-decoration: none !important;
}
a:hover{
    opacity: .8 !important;
}
body{
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Hiragino Kaku Gothic Pro',Meiryo,Helvetica,Verdana,sans-serif !important;
}
@media screen and (max-width: 640px) {
    .header{
        height: 175px !important;
    }
}
.header{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.nav-link{
    font-size: 12px;
}
.bg-light{
    background: transparent !important;
}
.author > .avatar{
    border-radius: 100%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}
.author > .avatar > img{
    width: 100%;
}
.author > h1{
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    color: #666;
    margin-top: 8px;
}
.author > h2{
    font-size: 14px;
    text-align: center;
    color: #666;
    margin: 15px 0px;
}
.author > p{
    font-size: 13px;
    color: #999;
    margin: 25px 0px;
}
.postingan > h1,.label > h1{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 16px;
}
.postingan > h1 > a,.label > h1 > a{
    color: #080000;
    text-decoration: none;
}
.label{
    margin-top: 21px;
}
.post-list{
    margin-bottom: 11px;
}
.post-list-img{
    width: 100%;
}
.post-list-title{
    font-size: 12px;
    color: #333;
    align-items:center;
    height: 100%;
    display: flex;
}
.post-list-title:hover{
    color: #333 !important;
    text-decoration: none;
}
article{
    margin-bottom: 36px;
}
article .post-date{
    font-size: 12px;
    color: #999;
}
article .badge{
    color: #999;
    text-decoration: none;
}
article > h1{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.01em;
    text-decoration: none;
}
article > h1 > a{
    color: #666;
}
article > h1 > a:hover{
    color: #666;
}
article > .content{
    font-size: 14px;
    line-height: 2;
    margin: 15px 0px;
}
article > .content img{
    max-width: 100%;
    display: block;
    margin: auto;
}
article > .content a{
    color: #666 !important;
    border-bottom: 1px solid #666;
}
article > .content a:hover{
    border-bottom: 3px solid #666;
}
.pagination{
    margin-top: 16px;
}
.pagination a{
    color: #080000;
}
.pagination a:hover{
    transform: scale(1.2);
}
footer{
    height: 120px;
}
footer p{
    font-size: 18px;
    font-weight: bold;
    align-items:center;
    padding-top: 45px;
    color: #333;
}
footer p > a{
    color: #333;
}
.to-top{
    float: right;
    display:inline-block;
    height: 70px;
    width: 70px;
    margin-bottom: 15px;
    margin-right: 25px;
    padding: 20px 25px;
    border:1px solid #dedede;
}
.to-top a{
    color: #333;
}
.to-top:hover{
    transform: scale(1.05);
}