<article class="post">
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div class="row">
        <div class="col-md-3">
            <time class="post-date"><i class="far fa-calendar" style="font-size: 12px;color: #080000;margin-right: 7px;"></i>{{ .Date.Format (.Site.Params.dateFormatToUse | default "02/01/2006 15:04") }}</time>
        </div>
        <div class="col">
            <div class="label-post"><i class="fas fa-tag" style="font-size: 12px;color: #080000"></i>
                {{ range .Params.label }}
                <a class="badge bg-light" href="{{ "/label/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">
                {{ . }}
                </a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="content">
        {{ .Content }}
    </div>
</article>
