{{ partial "header.html" . }}

	<main role="main">
		<div style="text-align: center;">
			<h1 class="list-title" style="margin: 0px auto;margin-bottom: 2rem;text-align: center;color:black;font-weight: bold;font-size: 3.5rem;background-color: #000;max-width: 100%;display: inline-block;padding: 0px 20px;color:#ffea00">~ {{ .Title }} ~</h1>
			<p style="opacity: .4;font-style: italic;">
				"{{ .Params.bio }}"
			</p>
		</div>
{{ range .Data.Pages.ByDate.Reverse }}
		<article class="entry" itemscope itemtype="http://schema.org/Blog">
			<h2 style="display: inline-block;font-weight: bold;" itemprop="headline"><a style="color:black;text-decoration: none;" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
			<span style="display: inline-block;margin-left: 18px;opacity: .5;"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
		</article>
{{ end }}
	</main>

{{ partial "footer.html" . }}