{{ define "main" }}
    {{- with .Title }}
    <h1 style="font-weight: bold;font-size: 32px;margin-bottom: 23px;">{{ . }}</h1>
	{{- end }}
	{{ $events := where .Site.RegularPages "Section" "post" }}
    {{ range $events }}
    <div class="row post-list align-content-sm-center" style="margin-bottom: 21px;">
        <div class="col-md-2 col-sm-12">
            <a href="{{ .URL }}"> <img width="85" src="{{ .Params.image }}" alt=""></a>
        </div>
		<div class="col-md-4 col-sm-12" style="padding-left: 0px;"><a class="post-list-title" href="{{ .URL }}">{{ .Title }}</a></div>
		<div class="col-md-3 col-sm-2"><small class="text-muted">{{ .Date.Format (.Site.Params.dateFormatToUse | default "02/01/2006 15:04") }}</small></div>
    </div>
    {{ end }}
{{ end }}